ddt==1.6.0
enlighten==1.10.2
matplotlib==3.5.2
numpy==1.23.0
onnx==1.12.0
pandarallel==1.6.3
pandas==1.5.1
Pillow==9.2.0
psutil==5.9.1
tensorboard==2.9.1
torch==1.12.0+cu116
torchinfo==1.7.0
torchvision==0.13.0+cu116

